<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.common.dao.MsAlarmInformationMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.common.domain.MsAlarmInformationDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="match_rule_id" jdbcType="INTEGER" property="matchRuleId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="update_user_portrait" jdbcType="TINYINT" property="updateUserPortrait" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="original_time" jdbcType="TIMESTAMP" property="originalTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent" />
    <result column="global_trace_id" jdbcType="VARCHAR" property="globalTraceId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
    <result column="db_instance" jdbcType="VARCHAR" property="dbInstance"/>
    <result column="ms_table_name" jdbcType="VARCHAR" property="msTableName"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, update_user_portrait, gmt_create, gmt_modified, user_name,
    alarm_content, global_trace_id, original_time, match_rule_id,
    start_time, db_instance, ms_table_name
  </sql>
  <select id="selectByGlobalTraceId" parameterType="string"
          resultType="com.mingshi.skyflying.common.domain.MsAlarmInformationDo">
    select *
    from ms_alarm_information
    where global_trace_id = #{traceId,jdbcType=INTEGER} limit 1;
  </select>
  <select id="selectAllUserName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
      user_name
    from ms_alarm_information
    group by user_name
  </select>
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(*)
    from ms_alarm_information
    where update_user_portrait = 0 and is_delete = 0
      <if test="userName != null and  userName != null   ">
        and user_name = #{userName}
      </if>
      <if test="matchRuleId != null and  matchRuleId != null   ">
        and match_rule_id = #{matchRuleId}
      </if>
      <if test="originalTime != null and  originalTime != null   ">
        and original_time = #{originalTime}
      </if>
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    id, is_delete, user_name, alarm_content, global_trace_id, original_time, match_rule_id, update_user_portrait
    from ms_alarm_information
    where update_user_portrait = 0 and is_delete = 0
      <if test="userName != null and  userName != null   ">
       and user_name = #{userName}
      </if>
      <if test="matchRuleId != null and  matchRuleId != null   ">
        and match_rule_id = #{matchRuleId}
      </if>
      <if test="originalTime != null and  originalTime != null   ">
        and original_time = #{originalTime}
      </if>
    order by original_time desc
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>

  <select id="selectAllByGroupByUserNameCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) as counts from (select user_name as userName,match_rule_id as matchRuleId
                                    from ms_alarm_information
                                    where update_user_portrait = 0  and is_delete = 0
                                    group by user_name,match_rule_id) as a;
  </select>
  <select id="selectAllByGroupByUserName" parameterType="java.util.Map" resultType="java.util.Map">
    select user_name as userName,match_rule_id as matchRuleId, max(original_time) as original_time, count(id) as matchCount
    from ms_alarm_information
    where update_user_portrait = 0  and is_delete = 0
    group by user_name,match_rule_id
    order by user_name,count(id) desc
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllUserTimes" parameterType="java.util.Map" resultType="java.util.Map">
    select user_name as userName, count(user_name) as times
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
    group by user_name
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllUserTimesCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*)  from  (select  user_name
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
    group by user_name) as t1
  </select>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into ms_alarm_information
    ( user_name, alarm_content, global_trace_id, original_time, match_rule_id, start_time, db_instance, ms_table_name )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.userName,jdbcType=VARCHAR},
      #{item.alarmContent,jdbcType=VARCHAR},
      #{item.globalTraceId,jdbcType=INTEGER},
      #{item.originalTime,jdbcType=TIMESTAMP},
      #{item.matchRuleId,jdbcType=INTEGER},
      #{item.startTime,jdbcType=TIMESTAMP},
      #{item.dbInstance,jdbcType=VARCHAR},
      #{item.msTableName,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.common.domain.MsAlarmInformationDo">
    update ms_alarm_information
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="updateUserPortrait != null">
        update_user_portrait = #{updateUserPortrait,jdbcType=TINYINT},
      </if>
      <if test="matchRuleId != null">
        match_rule_id = #{matchRuleId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="originalTime != null">
        original_time = #{originalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        alarm_content = #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="globalTraceId != null">
        global_trace_id = #{globalTraceId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbInstance != null">
        db_instance = #{dbInstance,jdbcType=VARCHAR},
      </if>
      <if test="msTableName != null">
        ms_table_name = #{msTableName,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
