<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.MsAlarmInformationMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="match_rule_id" jdbcType="INTEGER" property="matchRuleId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="update_user_portrait" jdbcType="TINYINT" property="updateUserPortrait" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="original_time" jdbcType="TIMESTAMP" property="originalTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent" />
    <result column="global_trace_id" jdbcType="VARCHAR" property="globalTraceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, update_user_portrait, gmt_create, gmt_modified, user_name, alarm_content, global_trace_id, original_time, match_rule_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_alarm_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllUserName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
      user_name
    from ms_alarm_information
    group by user_name
  </select>
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(*)
    from ms_alarm_information
    where update_user_portrait = 0 and is_delete = 0
      <if test="userName != null and  userName != null   ">
        and user_name = #{userName}
      </if>
      <if test="matchRuleId != null and  matchRuleId != null   ">
        and match_rule_id = #{matchRuleId}
      </if>
      <if test="originalTime != null and  originalTime != null   ">
        and original_time = #{originalTime}
      </if>
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    id, is_delete, user_name, alarm_content, global_trace_id, original_time, match_rule_id, update_user_portrait
    from ms_alarm_information
    where update_user_portrait = 0 and is_delete = 0
      <if test="userName != null and  userName != null   ">
       and user_name = #{userName}
      </if>
      <if test="matchRuleId != null and  matchRuleId != null   ">
        and match_rule_id = #{matchRuleId}
      </if>
      <if test="originalTime != null and  originalTime != null   ">
        and original_time = #{originalTime}
      </if>
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllByGroupByUserNameCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from (select user_name from ms_alarm_information where update_user_portrait = 0 and is_delete = 0
      group by user_name,match_rule_id,original_time ) as t1
  </select>
  <select id="selectAllByGroupByUserName" parameterType="java.util.Map" resultType="java.util.Map">
    select user_name as userName,match_rule_id as matchRuleId, original_time as originalTime, count(id) as matchCount
    from ms_alarm_information
    where update_user_portrait = 0  and is_delete = 0
    group by user_name,match_rule_id,original_time
    order by user_name,count(id) desc
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllUserTimes" parameterType="java.util.Map" resultType="java.util.Map">
    select user_name as userName, count(user_name) as times
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
    group by user_name
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllUserTimesCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*)  from  (select  user_name
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
    group by user_name) as t1
  </select>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    insert into ms_alarm_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matchRuleId != null">
        match_rule_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="updateUserPortrait != null">
        update_user_portrait,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="originalTime != null">
        original_time,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="alarmContent != null">
        alarm_content,
      </if>
      <if test="globalTraceId != null">
        global_trace_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchRuleId != null">
        #{matchRuleId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="updateUserPortrait != null">
        #{updateUserPortrait,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="originalTime != null">
        #{originalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="globalTraceId != null">
        #{globalTraceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into ms_alarm_information
    ( user_name, alarm_content, global_trace_id, original_time, match_rule_id )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.userName,jdbcType=VARCHAR},
      #{item.alarmContent,jdbcType=VARCHAR},
      #{item.globalTraceId,jdbcType=INTEGER},
      #{item.originalTime,jdbcType=TIMESTAMP},
      #{item.matchRuleId,jdbcType=INTEGER}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE original_time=values(original_time)
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    update ms_alarm_information
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="updateUserPortrait != null">
        update_user_portrait = #{updateUserPortrait,jdbcType=TINYINT},
      </if>
      <if test="matchRuleId != null">
        match_rule_id = #{matchRuleId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="originalTime != null">
        original_time = #{originalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        alarm_content = #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="globalTraceId != null">
        global_trace_id = #{globalTraceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByUserNameAndOriginalTime" parameterType="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    update ms_alarm_information
    set is_delete = #{isDelete,jdbcType=TINYINT}
    where user_name = #{userName,jdbcType=VARCHAR} and
          original_time = #{originalTime,jdbcType=TIMESTAMP}
          <if test="matchRuleId != null">
            and match_rule_id = #{matchRuleId,jdbcType=INTEGER}
          </if>
  </update>
</mapper>
