<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.MsAlarmInformationMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent" />
    <result column="global_trace_id" jdbcType="VARCHAR" property="globalTraceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, gmt_create, gmt_modified, user_name, alarm_content, global_trace_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_alarm_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllUserName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
      user_name
    from ms_alarm_information
    group by user_name
  </select>
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(*)
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    user_name, alarm_content, global_trace_id
    from ms_alarm_information
    <where>
      <if test="userName != null and  userName != null   ">
        user_name = #{userName}
      </if>
    </where>
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    insert into ms_alarm_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="alarmContent != null">
        alarm_content,
      </if>
      <if test="globalTraceId != null">
        global_trace_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="globalTraceId != null">
        #{globalTraceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into ms_alarm_information
    ( user_name, alarm_content, global_trace_id )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.userName,jdbcType=VARCHAR},
      #{item.alarmContent,jdbcType=VARCHAR},
      #{item.globalTraceId,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.domain.MsAlarmInformationDo">
    update ms_alarm_information
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        alarm_content = #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="globalTraceId != null">
        global_trace_id = #{globalTraceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
