<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.MsExceptionInfoMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.domain.MsExceptionInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="service_instance_name" jdbcType="VARCHAR" property="serviceInstanceName" />
    <result column="service_code" jdbcType="VARCHAR" property="serviceCode" />
    <result column="exception_info" jdbcType="LONGVARCHAR" property="exceptionInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, gmt_create, gmt_modified, service_instance_name, service_code
  </sql>
  <sql id="Blob_Column_List">
    exception_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ms_exception_info
    where id = #{id,jdbcType=INTEGER}
  </select>
    <insert id="insertSelectiveBatch" parameterType="java.util.List">
        insert into ms_exception_info
        (service_instance_name, service_code, exception_info)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.serviceInstanceName,jdbcType=VARCHAR},
            #{item.serviceCode,jdbcType=VARCHAR},
            #{item.exceptionInfo,jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        service_code = VALUES(service_code)
    </insert>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.domain.MsExceptionInfo">
    insert into ms_exception_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="serviceInstanceName != null">
        service_instance_name,
      </if>
      <if test="serviceCode != null">
        service_code,
      </if>
      <if test="exceptionInfo != null">
        exception_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceInstanceName != null">
        #{serviceInstanceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null">
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInfo != null">
        #{exceptionInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.domain.MsExceptionInfo">
    update ms_exception_info
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceInstanceName != null">
        service_instance_name = #{serviceInstanceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null">
        service_code = #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInfo != null">
        exception_info = #{exceptionInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
