<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.MsMonitorBusinessSystemTablesMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.domain.MsMonitorBusinessSystemTablesDo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
    <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
    <result column="db_name" jdbcType="VARCHAR" property="dbName"/>
    <result column="db_address" jdbcType="VARCHAR" property="dbAddress"/>
  </resultMap>
  <sql id="Base_Column_List">
    id
    , is_delete, gmt_create, gmt_modified, system_name, table_name, db_name, db_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
  </select>
  <select id="selectAllByQueryMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    <where>
      <if test="tableName != null and  tableName != null   ">
        table_name = #{tableName}
      </if>
      <if test="dbName != null and  dbName != null   ">
        and db_name = #{dbName}
      </if>
      <if test="dbAddress != null and  dbAddress != null   ">
        and db_address = #{dbAddress}
      </if>
    </where>
    order by id desc
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllByQueryMapCount" resultType="java.lang.Integer">
    select
    count(*)
    from ms_monitor_business_system_tables
    <where>
      <if test="tableName != null and  tableName != null   ">
        table_name = #{tableName}
      </if>
      <if test="dbName != null and  dbName != null   ">
        and db_name = #{dbName}
      </if>
      <if test="dbAddress != null and  dbAddress != null   ">
        and db_address = #{dbAddress}
      </if>
    </where>
    order by id desc
  </select>
  <select id="selectAllDbName" resultType="java.lang.Long">
    select count(distinct db_name)
    from ms_monitor_business_system_tables
    where db_name is not null
  </select>
  <select id="selectAllTables" resultType="java.lang.Long">
    select count(distinct table_name)
    from ms_monitor_business_system_tables
    where table_name is not null
  </select>
  <select id="selectAllEnable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    where is_delete = 0
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllNotEnable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    where is_delete = 1
  </select>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.domain.MsMonitorBusinessSystemTablesDo">
    insert into ms_monitor_business_system_tables
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="systemName != null">
        system_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="dbAddress != null">
        db_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        #{dbAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.domain.MsMonitorBusinessSystemTablesDo">
    update ms_monitor_business_system_tables
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="systemName != null">
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        db_address = #{dbAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into ms_monitor_business_system_tables
    (table_name,db_name,db_address)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.tableName,jdbcType=VARCHAR},
      #{item.dbName,jdbcType=VARCHAR},
      #{item.dbAddress,jdbcType=VARCHAR}
       )
    </foreach>
    ON DUPLICATE KEY UPDATE
    table_name = VALUES(table_name)
  </insert>
</mapper>
