<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiit.skyflying.common.dao.MsMonitorBusinessSystemTablesMapper">
  <resultMap id="BaseResultMap" type="com.aiit.skyflying.common.domain.MsMonitorBusinessSystemTablesDo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
    <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
    <result column="db_name" jdbcType="VARCHAR" property="dbName"/>
    <result column="db_address" jdbcType="VARCHAR" property="dbAddress"/>
    <result column="table_desc" jdbcType="VARCHAR" property="tableDesc"/>
  </resultMap>
  <sql id="Base_Column_List">
    id
    , is_delete, gmt_create, gmt_modified, system_name, table_name, db_name, db_address, table_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
  </select>
  <select id="selectAllByQueryMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    <where>
      <if test="tableName != null and  tableName != null   ">
        table_name like concat('%',#{tableName},'%')
      </if>
      <if test="dbName != null and  dbName != null   ">
        and db_name like concat('%',#{dbName},'%')
      </if>
      <if test="dbAddress != null and  dbAddress != null   ">
        and db_address like concat('%',#{dbAddress},'%')
      </if>
      <if test="tableDesc != null and  tableDesc != null   ">
        and table_desc like concat('%',#{tableDesc},'%')
      </if>
    </where>
    order by id desc
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectByQueryMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    <where>
      <if test="tableName != null and  tableName != null   ">
        table_name = #{tableName}
      </if>
      <if test="dbName != null and  dbName != null   ">
        and db_name = #{dbName}
      </if>
      <if test="dbAddress != null and  dbAddress != null   ">
        and db_address = #{dbAddress}
      </if>
    </where>
  </select>
  <select id="selectAllByQueryMapCount" resultType="java.lang.Integer">
    select
    count(*)
    from ms_monitor_business_system_tables
    <where>
      <if test="tableName != null and  tableName != null   ">
        table_name = #{tableName}
      </if>
      <if test="dbName != null and  dbName != null   ">
        and db_name = #{dbName}
      </if>
      <if test="dbAddress != null and  dbAddress != null   ">
        and db_address = #{dbAddress}
      </if>
      <if test="tableDesc != null and  tableDesc != null   ">
        and table_desc = #{tableDesc}
      </if>
    </where>
    order by id desc
  </select>
  <select id="selectAllEnable" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ms_monitor_business_system_tables
    where is_delete = 0
    <if test="tableName != null and  tableName != null   ">
      and table_name like concat('%',#{tableName},'%')
    </if>
    <if test="dataBaseName != null and  dataBaseName != null   ">
      and db_name like concat('%',#{dataBaseName},'%')
    </if>
    <if test="pageNo != null and  pageSize != null   ">
      LIMIT #{pageNo},#{pageSize}
    </if>
  </select>
  <select id="selectAllEnableDbCount" resultType="java.lang.Integer">
    SELECT
      count( * )
    FROM
      (
        SELECT
          db_name,
          db_address
        FROM
          ms_monitor_business_system_tables
        WHERE
          is_delete = 0
        GROUP BY
          db_name,
          db_address
      ) t1
  </select>
  <select id="selectAllEnableTableCount" resultType="java.lang.Integer">
    SELECT
      count( * )
    FROM
      (
        SELECT
          table_name
        FROM
          ms_monitor_business_system_tables
        WHERE
          is_delete = 0
        GROUP BY table_name
      ) t1
  </select>
  <select id="selectAllEnableCount" resultType="java.lang.Integer">
    select
    count(*)
    from ms_monitor_business_system_tables
    where is_delete = 0
    <if test="tableName != null and  tableName != null   ">
      and table_name like concat('%',#{tableName},'%')
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiit.skyflying.common.domain.MsMonitorBusinessSystemTablesDo">
    update ms_monitor_business_system_tables
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="systemName != null">
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        db_address = #{dbAddress,jdbcType=VARCHAR},
      </if>
      <if test="tableDesc != null">
        table_desc = #{tableDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into ms_monitor_business_system_tables
    (table_name,db_name,db_address,table_desc)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.tableName,jdbcType=VARCHAR},
      #{item.dbName,jdbcType=VARCHAR},
      #{item.dbAddress,jdbcType=VARCHAR},
      #{item.tableDesc,jdbcType=VARCHAR}
       )
    </foreach>
    ON DUPLICATE KEY UPDATE
    table_name = VALUES(table_name)
  </insert>
</mapper>
