<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.MsThirdPartyTableFieldsMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.common.domain.MsThirdPartyTableFieldsDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="third_party_name_id" jdbcType="INTEGER" property="thirdPartyNameId" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="feld_type" jdbcType="VARCHAR" property="feldType" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_note" jdbcType="VARCHAR" property="fieldNote" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, gmt_create, gmt_modified, third_party_name_id, field, feld_type, field_name, field_note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_third_party_table_fields
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllFields" parameterType="java.lang.String" resultType="java.util.Map">
    select
      ORDINAL_POSITION fNumber,
      COLUMN_NAME fColumn,
      DATA_TYPE fDatatype,
      case when COLUMN_COMMENT='' then COLUMN_NAME else COLUMN_COMMENT END fRemark
    from (select  * from information_schema.`COLUMNS` t1 where TABLE_SCHEMA=database() and TABLE_NAME =#{tableName}) t2 order by fNumber
  </select>
  <select id="selectByThirdPartyNameId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  id, third_party_name_id, field, feld_type, field_name, field_note
    from ms_third_party_table_fields
    <where>
      <if test="list != null and list.size() > 0">
        AND third_party_name_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
          #{item.thirdPartyNameId,jdbcType=INTEGER}
        </foreach>
      </if>
    </where>
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into ms_third_party_table_fields
    ( third_party_name_id, field, feld_type, field_note)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.thirdPartyNameId,jdbcType=INTEGER},
      #{item.field,jdbcType=VARCHAR},
      #{item.feldType,jdbcType=VARCHAR},
      #{item.fieldNote,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.common.domain.MsThirdPartyTableFieldsDo">
    insert into ms_third_party_table_fields
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="thirdPartyNameId != null">
        third_party_name_id,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="feldType != null">
        feld_type,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldNote != null">
        field_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="thirdPartyNameId != null">
        #{thirdPartyNameId,jdbcType=INTEGER},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="feldType != null">
        #{feldType,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldNote != null">
        #{fieldNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.common.domain.MsThirdPartyTableFieldsDo">
    update ms_third_party_table_fields
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="thirdPartyNameId != null">
        third_party_name_id = #{thirdPartyNameId,jdbcType=INTEGER},
      </if>
      <if test="field != null">
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="feldType != null">
        feld_type = #{feldType,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldNote != null">
        field_note = #{fieldNote,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
