<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.common.dao.RealTimeStatisticsUserPortraitByTableMapper">
    <resultMap id="BaseResultMap" type="com.mingshi.skyflying.common.domain.RealTimeStatisticsUserPortraitByTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="usual_visited_data" jdbcType="VARCHAR" property="usualVisitedData"/>
        <result column="visited_count" jdbcType="INTEGER" property="visitedCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="last_visited_date" jdbcType="VARCHAR" property="lastVisitedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_name, usual_visited_data, visited_count, create_time, update_time, is_deleted,
    last_visited_date
    </sql>
    <insert id="insertSelectiveBatch" parameterType="java.util.List">
        insert into real_time_statistics_user_portrait_by_table
        (user_name, usual_visited_data, visited_count, create_time, update_time, last_visited_date)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userName,jdbcType=VARCHAR},
            #{item.usualVisitedData,jdbcType=VARCHAR},
            #{item.visitedCount,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=VARCHAR},
            #{item.lastVisitedDate,jdbcType=INTEGER}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_time = VALUES(update_time),
        visited_count = VALUES(visited_count),
        last_visited_date = VALUES(last_visited_date)
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from real_time_statistics_user_portrait_by_table
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="com.mingshi.skyflying.common.domain.UserCoarseInfo">
        select
        <include refid="Base_Column_List"/>
        from real_time_statistics_user_portrait_by_table
        <where>
        <if test="userName != null and  userName != null   ">
            user_name like concat('%',#{userName},'%')
        </if>
        </where>
        order by visited_count desc
        <if test="pageNo != null and  pageSize != null   ">
            LIMIT #{pageNo},#{pageSize}
        </if>
    </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
        select
        count(*)
        from real_time_statistics_user_portrait_by_table
        <where>
            <if test="userName != null and  userName != null   ">
                user_name like concat('%',#{userName},'%')
            </if>
        </where>
    </select>
    <insert id="insertSelective"
            parameterType="com.mingshi.skyflying.common.domain.RealTimeStatisticsUserPortraitByTable">
        insert into real_time_statistics_user_portrait_by_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="usualVisitedData != null">
                usual_visited_data,
            </if>
            <if test="visitedCount != null">
                visited_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="lastVisitedDate != null">
                last_visited_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="usualVisitedData != null">
                #{usualVisitedData,jdbcType=VARCHAR},
            </if>
            <if test="visitedCount != null">
                #{visitedCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="lastVisitedDate != null">
                #{lastVisitedDate,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.mingshi.skyflying.common.domain.RealTimeStatisticsUserPortraitByTable">
        update real_time_statistics_user_portrait_by_table
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="usualVisitedData != null">
                usual_visited_data = #{usualVisitedData,jdbcType=VARCHAR},
            </if>
            <if test="visitedCount != null">
                visited_count = #{visitedCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="lastVisitedDate != null">
                last_visited_date = #{lastVisitedDate,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
