<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshi.skyflying.dao.UserPortraitByVisitedTimeMapper">
  <resultMap id="BaseResultMap" type="com.mingshi.skyflying.domain.UserPortraitByVisitedTimeDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="forenoon_count" jdbcType="INTEGER" property="forenoonCount" />
    <result column="night_count" jdbcType="INTEGER" property="nightCount" />
    <result column="afternoon_count" jdbcType="INTEGER" property="afternoonCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_delete, gmt_create, gmt_modified, user_name, rule_name, forenoon_count, night_count,
    afternoon_count
  </sql>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      user_name, rule_name, forenoon_count, night_count, afternoon_count
    from user_portrait_by_visited_time
    where is_delete = 0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_portrait_by_visited_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.mingshi.skyflying.domain.UserPortraitByVisitedTimeDo">
    insert into user_portrait_by_visited_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="ruleName != null">
        rule_name,
      </if>
      <if test="forenoonCount != null">
        forenoon_count,
      </if>
      <if test="nightCount != null">
        night_count,
      </if>
      <if test="afternoonCount != null">
        afternoon_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="forenoonCount != null">
        #{forenoonCount,jdbcType=INTEGER},
      </if>
      <if test="nightCount != null">
        #{nightCount,jdbcType=INTEGER},
      </if>
      <if test="afternoonCount != null">
        #{afternoonCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into user_portrait_by_visited_time
    (user_name, rule_name, forenoon_count, night_count, afternoon_count)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.userName,jdbcType=VARCHAR},
      #{item.ruleName,jdbcType=VARCHAR},
      #{item.forenoonCount,jdbcType=INTEGER},
      #{item.nightCount,jdbcType=INTEGER},
      #{item.afternoonCount,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update user_portrait_by_visited_time
      <set>
        <if test="item.forenoonCount != null and item.forenoonCount != ''">
          forenoon_count = #{item.forenoonCount},
        </if>
        <if test="item.afternoonCount != null and item.afternoonCount != ''">
          afternoon_count = #{item.afternoonCount},
        </if>
        <if test="item.nightCount != null and item.nightCount != ''">
          night_count = #{item.nightCount},
        </if>
      </set>
      where user_name=#{item.userName}
    </foreach>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.mingshi.skyflying.domain.UserPortraitByVisitedTimeDo">
    update user_portrait_by_visited_time
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="forenoonCount != null">
        forenoon_count = #{forenoonCount,jdbcType=INTEGER},
      </if>
      <if test="nightCount != null">
        night_count = #{nightCount,jdbcType=INTEGER},
      </if>
      <if test="afternoonCount != null">
        afternoon_count = #{afternoonCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
