<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 数据库驱动包位置 -->
    <classPathEntry location="/Users/apple/zhaoming/repository/mysql/mysql-connector-java/8.0.17" />
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 数据库链接URL、用户名、密码 -->
      <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://10.0.107.46:3306/test_mingshi_skyflying?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai" userId="root" password="Aiit@123">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>
        <!-- 生成实体类的包名和位置 -->
        <javaModelGenerator targetPackage="com.mingshi.skyflying.domain" targetProject="/Users/apple/skywalking-mingshi-server/core/src/main/java/">
            <property name="enableSubPackages" value="true" />
        </javaModelGenerator>
        <!-- 生成的映射文件（具体SQL）包名和位置 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="/Users/apple/skywalking-mingshi-server/core/src/main/resources/">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
        <!-- 生成DAO（SQL对应的方法）的包名和位置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.mingshi.skyflying.dao" targetProject="/Users/apple/skywalking-mingshi-server/core/src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!-- 要生成那些表(更改tableName和domainObjectName就可以) -->
        <table tableName="user_portrait_by_visited_table_on_everyday" domainObjectName="UserPortraitByVisitedTableOnEveryday" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
    </context>
</generatorConfiguration>
